*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    list-style: none;
}

li{
    padding-bottom: 10px;
}

section{
border-radius: 14px;
padding: 20px 40px;
margin-bottom: 20px;
}

#formViejuner{
    color: rgb(56, 7, 141);
    background-color: rgb(201, 173, 228);
}
#formLadrones{
    color: rgb(227, 114, 0);
    background-color: rgb(255, 224, 139);
}

legend{
    font-size: 20px;
    font-weight: 700;
}